/* SubjectInput.css */

.subject-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .input-container input {
    padding: 8px;
    margin-bottom: 5px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .add-button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #2980b9;
  }
  